aiodhcpwatcher
aiodiscover
aiofiles
aiousbwatcher
async-upnp-client
av
colorlog
ffmpeg
freezegun~=1.5.5
go2rtc-client
ha-ffmpeg
hassil
home-assistant-frontend
home-assistant-intents
homeassistant>=2026.5.0
mutagen
pre-commit
propcache
PyTurboJPEG
pycares
pyclean
pymicro-vad
pymodbus
pyserial
pyspeex-noise
pytest
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component
