python-dateutil==2.9.0.post0
pre-commit
ruff==0.15.1
pycares
pytest
pytest-cov
pytest-homeassistant-custom-component
pytest-asyncio
pymodbus
colorlog
homeassistant>=2026.3.2
home-assistant-frontend
home-assistant-intents
hassil
ffmpeg
aiodiscover
aiofiles
aiodhcpwatcher
aiousbwatcher
async-upnp-client
av
PyTurboJPEG
mutagen
ha-ffmpeg
pymicro-vad
go2rtc-client
pyspeex-noise
pyserial